Segunda Eva/EjerciciosDTD/Listin/listin.dtd

<!ELEMENT listin (persona+)>
  <!ATTLIST persona
        id ID #REQUIRED
        sexo (hombre|mujer)  #IMPLIED
  >
<!ELEMENT persona (nombre, email*, relacion?)>
    <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT email (#PCDATA)>
    <!ELEMENT relacion EMPTY>
        <!ATTLIST relacion
              amigo-de IDEREFS #IMPLIED
              enemigo-de CDATA #IMPLIED
        >
